<button class="btn btn-primary" (click)="toggleParagraphVisibility()">Display Details</button>
<p [hidden]="isParagraphVisible"
  [ngStyle]="{background: getParagraphBackground(paragraphToggle)}"
  [ngClass]="{'my-white': paragraphToggle > 4}"
  *ngFor="let paragraphToggle of toggles">Secret Password = tuna</p>
<hr>
<label for=""></label>
<input type="text"
class="form-control" [(ngModel)]="serverName">
<!-- <p>{{ serverName }}</p> -->
<button
class="btn btn-primary"
(click)="onCreateServer()"
[disabled]="!allowNewServer">Add Server</button>
<!-- <p>{{  serverCreationStatus }}</p> -->
<p *ngIf="serverCreated">Server was created, server name is {{ serverName }}</p>
<app-server *ngFor="let server of servers"></app-server>
