<label for=""></label>
<input type="text"
class="form-control" [(ngModel)]="serverName">
<!-- <p>{{ serverName }}</p> -->
<input type="text" [(ngModel)]="userName" class="form-control">
<p>{{ "User name is: " + userName }}</p>
<button class="btn btn-primary" [disabled]="!userName" (click)="onUserReset()" >Reset User Name</button>
<button
class="btn btn-primary"
(click)="onCreateServer()"
[disabled]="!allowNewServer">Add Server</button>
<p>{{  serverCreationStatus }}</p>
<app-server></app-server>
<app-server></app-server>

